.adminpage {
  min-height: 90vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transition: all 0.2s;
  padding-bottom: 36px;
}
.adminpage .box,
.box_white {
  padding: 21px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  height: auto;
  transition: all 0.2s;
  padding: 21px 0;
}
.animation {
  height: 100%;
  opacity: 1;
  transition: all 0.6s;
}
.animation.hide {
  pointer-events: none;
  height: 0;
  opacity: 0;
}
.title {
  margin-top: 25px;
  margin-bottom: 10px;
}
.gray {
  color: var(--color-gray);
}
.focusable:focus,
.focusable:focus-within,
.focusable:focus-visible {
  outline: 0.2px solid var(--color-sft-prpl);
}
.box_white .info {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  text-align: right;
}
.focusable .info {
  gap: 5px;
}
.box_white .text-120 {
  color: var(--color-gray);
  text-transform: capitalize;
}

.adminpage h2 {
  font-weight: 700;
}
.adminpage .list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  transition: all 0.2s;
}
.waiters {
  transition: all 0.3s;
  cursor: default;
}
.delete {
  padding: 0;
  margin-top: 5px;
  border: 0;
  background: none;
  color: var(--color-blue);
  cursor: pointer;
}
.waiter_card {
  width: 100%;
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.waiter_card .input-group {
  flex-direction: row;
  display: flex;
  text-align: center;
}
.waiter_card input:nth-child(1) {
  flex: 5;
}

.waiter_card input:nth-child(2) {
  flex: 1.5;
}

.waiter_card input:nth-child(3) {
  flex: 1;
}
.waiter_card .btn {
  margin-top: 0 !important;
}
.waiter_card .form {
  padding-top: 0;
}
.waiter_card .box_white {
  margin-top: 10px;
}
.adminpage .animation {
  height: auto;
  transition: all 0.5s;
}
.waiters {
}
.adminpage .hide {
  opacity: 0;
  transform: translateX(-100vw);
}
.waiters.hide {
  height: 0;
}

@media screen and (max-width: 440px) {
  .adminpage {
    padding-left: 21px;
    padding-right: 21px;
  }
  .waiter_card .input-group {
    gap: 14px;
  }
  .waiter_card input:nth-child(1) {
    flex: 4.85;
  }

  .waiter_card input:nth-child(2) {
    flex: 1.55;
  }
  .waiter_card input:nth-child(n) {
    font-size: calc(var(--fs-h3) - 1px);
  }
}
@media screen and (max-width: 415px) {
  .waiter_card input:nth-child(n) {
    font-size: calc(var(--fs-h3) - 1.5px) !important;
  }
}
@media screen and (max-width: 390px) {
  .waiter_card input:nth-child(n) {
    padding: 16px;
    font-size: calc(var(--fs-h3) - 3px) !important;
  }
}
