.adminpage {
  min-height: 90vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transition: all 0.2s;
  padding-bottom: 36px;
}
.adminpage .box,
.box_white {
  padding: 21px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  width: 100%;
}

.form {
  height: auto;
  transition: all 0.4s;
  padding: 21px 0;
}
.animation {
  height: 100%;
  opacity: 1;
  transition: all 0.6s;
}
.title {
  margin-top: 25px;
  margin-bottom: 10px;
}
.gray {
  color: var(--color-gray);
}
.box_white .info {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.focusable {
  margin-bottom: 10px;
  transition: all 0.2s;
}
.focused {
  outline: 1px solid var(--color-purple);
}
.focusable .info {
  gap: 5px;
  pointer-events: none;
}
.focusable .icon {
  pointer-events: none;
}
.box_white .text-120 {
  color: var(--color-gray);
  text-transform: capitalize;
}

.adminpage h2 {
  font-weight: 700;
}
.restaurants_list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.waiters_list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
  height: 100%;
}
.waiters_list.hiding .waiters {
  padding: 0;
}
.waiters {
  margin: 7px 0;
  transition: all 0.3s;
  cursor: default;
}
.delete {
  padding: 0;
  margin-top: 5px;
  border: 0;
  background: none;
  color: var(--color-blue);
  cursor: pointer;
}
.waiter_card {
  width: 100%;
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.waiter_card .input-group {
  flex-direction: row;
  display: flex;
  text-align: center;
}
.waiter_card input:nth-child(1) {
  flex: 5;
}

.waiter_card input:nth-child(2) {
  flex: 1.5;
}

.waiter_card input:nth-child(3) {
  flex: 1;
}
.waiter_card .btn {
  margin-top: 0 !important;
}
.waiter_card .form {
  padding-top: 0;
}
.waiter_card .box_white {
  margin-top: 10px;
}
.adminpage .animation {
  height: auto;
  transition: all 0.5s;
}
* {
  transition: all 0.4s;
}

.hiding {
  height: 0;
  padding: 0;
  overflow: hidden;
  margin: 0;
  opacity: 0;
  transition: all 0.3s;
}
.hide {
  display: none !important;
}
.hidden {
  display: none;
}
.hiding .btn {
  margin: 0 !important;
  padding: 0 !important;
}
.form.hiding .input-group {
  gap: 0;
  padding: 0;
}
.waiters_list.hiding .title,
.waiters_list.hiding .box_white,
.waiters_list.hiding .btn {
  opacity: 0;
  height: 0 !important;
  margin: 0 !important;
  padding: 0;
}
@media screen and (max-width: 440px) {
  .adminpage {
    padding-left: 21px;
    padding-right: 21px;
  }
  .waiter_card .input-group {
    gap: 14px;
  }
  .waiter_card input:nth-child(1) {
    flex: 4.85;
  }

  .waiter_card input:nth-child(2) {
    flex: 1.55;
  }
  .waiter_card input:nth-child(n) {
    padding: 16px 15px;
    font-size: calc(var(--fs-h3) - 1px);
  }
}
@media screen and (max-width: 415px) {
  .waiter_card input:nth-child(n) {
    padding: 16px 13px;
    font-size: calc(var(--fs-h3) - 1px) !important;
  }
}
@media screen and (max-width: 390px) {
  .waiter_card input:nth-child(n) {
    padding: 16px 12px;
    font-size: calc(var(--fs-h3) - 1px) !important;
  }
}
