.main {
  position: relative;
  width: 100%;
  height: -webkit-fill-available;
  min-height: calc(100dvh - 21px);
  transition: all 0.5s;
  box-sizing: border-box !important;
}
.main.commenting .main__logo_account {
  height: 114px;
  width: 70%;
}

.main.commenting .main_logo {
  width: 120px;
}

.main_logo {
  margin: 0 auto;
  position: relative;
  width: 160px;
  transition: all 0.5s linear;
}
.main.commenting .account_info {
  opacity: 0;
  width: 0;
  pointer-events: none;
}

.main.commenting .account {
  margin-top: 0;
  width: 90px;
  height: 90px;
  padding: 20px;
  margin-left: 270px;
  transform: translateY(10px);
}
.main__logo_account .account_info {
  width: 88px;
  opacity: 1;
  transition: all 0.5s linear;
}
.main__logo_account {
  position: relative;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-items: center;
  row-gap: 40px;
  transition: all 0.5s linear;
}
.main_logo img {
  width: 100%;
  transition: all 0.5s linear;
  height: auto;
}
.main .account {
  width: calc(100%);
  position: absolute;
  bottom: 30px;
  transition: all 0.5s linear;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  box-shadow: 0px 5px 30px rgba(22.1, 0, 255, 0.1);
  border-radius: 25px;
}
.account .text-120 {
  padding-top: 10px;
}
.account_logo svg {
  transition: all 0.5s linear;

  height: 50px;
  width: 50px;
}
@media screen and (max-width: 440px) {
  .main__logo_account,
  .feedback,
  .tips h1,
  .tips_btn,
  .mytip_btn {
    padding-left: 21px;
    padding-right: 21px;
  }

  .main.commenting .account {
    margin-top: 0;
  }
}
