.main {
  width: 100%;
}
.main__logo_account.commenting {
  justify-content: space-evenly;
  flex-direction: row;
  transition: all 0.5s linear;
}

.main__logo_account.commenting .main_logo {
  width: 30%;
  transition: all 0.5s linear;
}
.main__logo_account.commenting .account {
  width: auto;
  padding: 20px;
  transition: all 0.5s linear;
}

.main__logo_account.commenting .account_info {
  display: none;
  transition: all 0.5s linear;
}
.main__logo_account {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  transition: all 0.5s linear;
  padding-bottom: 40px;
}
.main_logo {
  width: 37%;
}
.main_logo img {
  width: 100%;
  height: auto;
}
.account {
  cursor: pointer;
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  padding: 20px 30px;
  box-shadow: 0px 5px 30px rgba(22.1, 0, 255, 0.1);
  border-radius: 25px;
}
.account .text-120 {
  padding-top: 10px;
}
.account_logo svg {
  height: 50px;
  width: 50px;
}
@media screen and (max-width: 440px) {
  .main__logo_account,
  .tips h1,
  .tips_btn,
  .mytip_btn {
    padding-left: 21px;
    padding-right: 21px;
  }
}
