.feedback {
  overflow: visible;
  transform: all 0.5s;
}

.feedback_btns {
  padding-top: 20px;
  display: flex;
  column-gap: 10px;
  padding-bottom: 10px;
}
.feed_btn_item {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feed_btn_item.comment {
  width: 100% !important;
  transition: all 0.5s;
  position: relative;
  height: 100%;
}
.feed_btn_item.comment .comment_label {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  color: inherit;
  transition: color 0.2s;
}
.feed_btn_item:hover svg,
.feed_btn_item.active svg {
  fill: var(--color-white);
  color: var(--color-white);
}
.feed_btn_item:not(.comment) svg {
  margin-bottom: 5px;
}
.feed_btn_item.comment svg {
  margin-right: 10px;
}

.feed_btn_item.comment svg,
.feed_btn_item svg {
  color: var(--color-sft-prpl);
}

.feed_btn_item.comment.active::after {
  background: none;
}
.comment_input {
  text-align: start;
  position: relative;
  height: 0;
  z-index: 2;
  width: 100%;
  height: 0;
  border: 2px solid blue;
  border-radius: 21px;
  font-size: var(--fs-h3);
  font-weight: 600;
  transition: all 0.5s;
  opacity: 0;
}

.main.commenting h1.comment_label {
  opacity: 1;
  transition: opacity 0.5s;
}

.main.commenting h1.comment_label {
  padding-bottom: 5px;
  height: 60px;
  display: flex;
  align-items: center;
}

.main.commenting .comment_input {
  opacity: 1;
  padding: 20px 18px;
  height: 150px;
}

.feed_btn_item.comment.active {
  padding: 0px;
}
.comment.active .comment_label {
  height: 0px;
  opacity: 0;
  transition: all 0.5s;
}
.main.commenting h1:not(.comment_label) {
  color: var(--color-gray);
}
