.App {
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  position: relative;
  background: var(--color-gradient-main);
  z-index: 1;
  display: flex;
  overflow: hidden;
}
.App .container {
  position: relative;
  z-index: 0;
  padding-top: 46px;
  width: 440px;
  margin: 0 auto;
  min-height: 100%;

  overflow: visible;
  bottom: 0;
  display: flex;
}
*,
::after,
::before {
  box-sizing: border-box !important;
}
.loading {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.loading .logo {
  width: 44%;
  height: auto;
}
.loading .h3 {
  padding-top: 20px;
  text-align: center;
  background: var(--color-gradient);
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Set the text color to transparent */
  display: inline-block; /* Ensure the gradient works properly */
  text-fill-color: transparent;
}
@media screen and (max-width: 440px) {
  .App {
    height: 100%;
    min-height: fit-content;
  }
  .App .container {
    height: 100%;
    width: -webkit-fill-available;
    margin: 0;
  }
  .card {
    bottom: 5% !important;
    padding-left: 21px;
    padding-right: 21px;
  }
}
